/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/sessions/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
behat.yml
selenium-*.jar
node_modules
.sass-cache
web/assets
assets/vendor
tmp
exports
.tm_properties
app/.DS_Store
assets/.DS_Store
app/sessions/*
.bundle/

.DS_Store
web/sitemap*
/web/uploads/*
/web/media/*
!web/uploads/.gitkeep
!web/uploads/headers/.gitkeep
!web/uploads/cv/.gitkeep
!web/uploads/media/.gitkeep
!web/media/.gitkeep
!web/content/images/.gitkeep
!web/content/files/.gitkeep
web/drupal-cv/
web/.htaccess

php-cs-fixer.phar
apc_reset.ini
.vagrant
.idea
