<form action="{{ is_granted('ROLE_ORGANIZATION') ? path('service_civique_organization_change_password') : path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-sc-red" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
