<div class="agreementBox">
    <div class="agreement-content">
        <h2>Rappel des informations de votre agrément</h2>
        <p>Ces informations vous aideront à compléter la création de votre mission. Vous y retrouverez votre numéro d'agrément, le nombre de postes à pourvoir par année et la date d'échéance de votre dossier. Ces informations sont à vérifier à chaque fois que vous soumettez une nouvelle mission.</p>
        <ul>
            <li><strong>Le nom de l’organisme agréé :</strong><br/> <span data-approval="organization_name">Information non disponible</span></li>
            <li><strong>Numéro d’agrément :</strong><br/> <span data-approval="approval_number">Information non disponible</span></li>
            <li><strong>Date de décision :</strong><br/> <span data-approval="decision_date">Information non disponible</span></li>
            <li><strong>Date d’échéance de l’agrément :</strong><br/> <span data-approval="term_date">Information non disponible</span></li>
            <li><strong>Nombre de postes délivrés :</strong><br/> <span data-approval="job_number">Information non disponible</span></li>
        </ul>
        <ul>
            <li><strong>Intitulé des missions de l'agrément :</strong><br/> <span data-approval="mission_labels">Information non disponible</span></li>
            <li><strong>Thématique des missions de l'agrément :</strong><br/> <span data-approval="taxonomy">Information non disponible</span></li>
        </ul>
        <ul>
            <li><strong>Coordonnées du référent Service Civique :</strong><br/> <span data-approval="referent_address">Information non disponible</span></li>
        </ul>
        <div data-approval="pdf_url"></div>
    </div>
    <div class="agreement-loader" style="display:none">Loading...</div>
</div>
