{% extends 'ServiceCiviqueWebBundle:Backend:layout.html.twig' %}

{% block topbar %}
<ol class="breadcrumb">
    <li>Backoffice</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-th-list"></i> Backoffice</h1>
</div>

{% endblock %}
