<div class="alert alert-info cookie-banner hidden-print">
    <p>{{ 'service_civique.cookie_accept.text' | trans }} <a class="link-cookie" href="/page/notre-politique-sur-les-cookies" >{{ 'service_civique.cookie_accept.link_label' | trans }}</a>
        <a class="btn btn-sm btn-sc-red" href="{{ path('service_civique_cookie_accept') }}">{{ 'service_civique.cookie_accept.btn_label' | trans }}</a>
    </p>
</div>
