{% extends "ServiceCiviqueWebBundle::layout.html.twig" %}

{% block content %}
    <div class="grey-container">
        <div class="container">
            <h1 class="title">
                <span>{% block main_content_header %}{% endblock %}</span>
            </h1>
            {% block main_content_header_content %}{% endblock %}
        </div>
    </div>

    <div class="user-application-list white-container">
        <div class="container">
            {% block main_content %}
                {% block main_content_body %}{% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
