.visible-print {
    display: block !important;
}


.footer-container,
abbr[title]:before,
abbr[title]:after,
.mission-show-left,
#skip-nav-container,
.cookie-banner,
.breadcrumb-container,
.hidden-print {
    display: none !important;
}

.print,
#top-menu,
.green-line,
.partners-line,
.ads-line,
.website-line {
    display: none !important;
}


.sf-toolbar {
    display: none!important;
}

.col-md-8 {
    width: 90%!important;
}

.mission-show .picto-box i {
    font-size: 2.5rem;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}

.mission-show .mission-description dt {
    background-color: #bdffec !important;
}

.mission-show .mission-contact-informations .col {
    float: left;
    width: 33.3333%;
}

.mission-show .mission-contact-informations .col .text-center {
    background-color: #F0F9F6!important;
    border: solid 1px #cccccc;
}

.mission-show header {
    min-height: 0px;
}
