{% form_theme form 'ServiceCiviqueWebBundle::forms.html.twig' %}

{{ form_errors(form) }}
<small><p>{{ 'service_civique.form.mandatory_fields' | trans }}</p></small>

{% if isBannerExist %}
    <img src="{{ asset('uploads/banniere.gif') }}" alt= "Bannière" />
{% endif %}

{{ form(form) }}
