{% extends 'ServiceCiviqueWebBundle:Backend:layout_page.html.twig' %}

{% set resource_type = 'faq.' ~ app.request.get('type') %}
{% set page_type     = 'single' %}

{% block main_content_header %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs grid-tabs">
            <li{% if app.request.get('type') == 'organisme' %} class="active"{% endif %}><a href="{{ path('service_civique_backend_faq_organisme', {'type': 'organisme'}) }}"><i class="glyphicon glyphicon-user"></i> {{ ('service_civique.backend.faq.organisme.title') | trans }}</a></li>
            <li{% if app.request.get('type') == 'volontaire' %} class="active"{% endif %}><a href="{{ path('service_civique_backend_faq_volontaire', {'type': 'volontaire'}) }}"><i class="glyphicon glyphicon-user"></i> {{ ('service_civique.backend.faq.volontaire.title') | trans }}</a></li>
        </ul>
    </div>
</div>
{% endblock %}
